.appStore-links {
	margin: 80px 0;
}

.appStore {
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	border-radius: 6px;
	width: 138px;
	height: 44px;
	display: block;
	margin: 8px 0;
}

.appStore-apple {
	background: url(../assets/apple-app-store.svg) no-repeat 13px 8px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) { 
	.appStore-links {
    	text-align: center;
	}
	.appStore-links li {
		display: inline-block;
	}
}