.logoContainer {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;    
    -webkit-transform: translate3d(50%,100px,0);
    -moz-transform: translate3d(50%,100px,0);
    -webkit-transition: -webkit-transform .5s, height .5s;        
    -moz-transition: -moz-transform .5s, height .5s;                
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,.3);
    z-index: 1;
    border-radius: 50%;
    margin-left: -50px;
}

.logo:before {
    content: 'C';
    position: absolute;
    top: 31px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    transition: background 2.5s, color 2.5s;
}

.sectionFocus-5 .logo:before {
    color: #2C2C37;
}

.logo-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: 18px;
    margin-top: 18px;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
}

.sectionFocus-5 .logo-icon {
	background: none;
}

.sectionFocus-0 .logoContainer {

}

.active-split .logoContainer,
.active-dontCare .logoContainer,
.active-generous .logoContainer,
.active-phone .logoContainer {
    -webkit-transform: translate3d(100px,50px,0);
    -moz-transform: translate3d(100px,50px,0);
}

.active-video .logoContainer {
    display: none;
}

.logoContainer.bottom {
    height: 100%;
    -webkit-transform: translate3d(50%,65%,0);
    -moz-transform: translate3d(50%,65%,0);
}


@media only screen and (max-width: 600px) { 

    .logo {
        width: 80px;
        height: 80px;
    
        margin-left: -40px;
}

    .logo-icon {
        width: 50px;
        height: 50px;    
        margin-left: 15px;
        margin-top: 15px;
    }

    .logo:before {
        font-size: 25px;
        top: 24px;
    }

    .active-intro .logoContainer {
        -webkit-transform: translate3d(50%,32px,0);
    }

    .active-split .logoContainer,
    .active-dontCare .logoContainer,
    .active-generous .logoContainer,
    .active-phone .logoContainer {
        -webkit-transform: translate3d(50%,20px,0);
    }   

    .active-end .logoContainer {
        -webkit-transform: translate3d(50%,20px,0);        
    } 
}
