.perspective {
	perspective:600px;
}

.mathExample {
    border: 2px solid rgba(255,255,255,0.4);
    font-weight: lighter;
    padding: 12px 36px;
    margin: 14px 0;
    font-size: 34px;
    transition:all .8s ease;
    transform:rotateX(0deg); 
}

.down .mathExample {
    transform:rotateX(-90deg) scale3d(.8,.8,.8);    
    transition:all .8s ease;
}

.mathExample span {
	opacity:1;
	transition:all 1.2s ease;
}

.down .mathExample span {
	opacity:0;
	transition:all 1.2s ease;
}

.mathExample-symbol {
	margin: 0 16px;
}

.mathExample-crossOut {
	position: relative;
}

.mathExample-crossOut:before {
	content: '';
	background: #00D8FF;
	width: 106%;
	height: 3px;
	position: absolute;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	top: 22px;
	margin-left: -3%;
}

@media only screen and (max-width: 600px) { 
    .mathExample {
        font-size: 32px;
        font-weight: 400;
    }
    .mathExample-equals {
    	display: block;
    }
    .mathExample-crossOut:before {
        top: 14px;
    }
}

@media only screen and (max-width: 400px) { 
    .mathExample {
        font-size: 24px;
    }
    .mathExample-symbol {
    	margin: 0 1px;
    }
}