.phone {
    width: 300px;
    height: 627px;
    border-radius: 36px;
}

.phone-background {
    background: url(../assets/phone.svg);
    opacity: .5;
    width: 100%;
    height: 100%;
    display: block;
}

.phone-video {
    width: 266px;
    height: 472px;
    display: block;
    position: absolute;
    top: 55px;
    left: 17px;
}