.scrollIndicator {
    width: 50px;	
    height: 50px;
    background: url(../assets/scroll-indicator.svg) no-repeat 0px 15px;
    opacity: .5;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -25px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) { 

.scrollIndicator {
    bottom: 27px;
}

}