.sectionIndicators {
    position: fixed;
    bottom: 46px;
    right: 46px;
    z-index: 1;
    transition: bottom 1s;
}

.sectionFocus-5 .sectionIndicators {
    bottom: 45%;
}

.sectionIndicator {

    padding: 2px;
    margin: -4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    display: block;

}

.sectionIndicators a {
    background: rgba(255,255,255,.3);
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 4px;
    transition: background .5s;
    display: block;
}

.sectionIndicators li.active a {
    background:#fff;
}

.sectionFocus-0 .sectionIndicator:nth-child(1) a,
.sectionFocus-1 .sectionIndicator:nth-child(2) a,
.sectionFocus-2 .sectionIndicator:nth-child(3) a,
.sectionFocus-3 .sectionIndicator:nth-child(4) a,
.sectionFocus-4 .sectionIndicator:nth-child(5) a,
.sectionFocus-5 .sectionIndicator:nth-child(6) a
{
    background: rgba(255,255,255,1);
}

@media only screen and (max-width: 600px) {
    
    .sectionIndicators {
        display: none;
    }

}