.section {
    position: fixed;	
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0,0,0) scale3d(1,1,1);
    transition: all .5s ease;
    text-transform: uppercase;
    font-size: 42px;
    display: block;
}

.displayNoneHidden .section {
	display: none;
}

.sectionFocus-0 .section-intro,
.sectionFocus-1 .section-split,
.sectionFocus-2 .section-dontCare,
.sectionFocus-3 .section-generous,
.sectionFocus-4 .section-phone,
.sectionFocus-5 .section-end
{
	display: block;
	opacity: 1;
    transition: all .5s ease;
    -webkit-transform:translate3d(0,0,0);
}

.up {
    -webkit-transform:scale3d(.8,.8,1) translate3d(0,-110%,0);
    opacity:0;
    transition:all .5s ease;
}

.down {
    -webkit-transform:scale3d(.8,.8,1) translate3d(0,110%,0);
    opacity:0;
    transition:all .5s ease;
}

.section-content {	
    /* background: orange; */
    top: 50%;
    position: absolute;
    margin-top: -125px;
    padding: 27px 10%;
    text-align: center;
    font-weight: lighter;
    width: 100%;
}

.section-content > *, .section-end-content > * {
	display: inline-block;
	margin: 0 auto;
	max-width: 820px;
}

.section-intro .section-content > * {
	max-width: 670px;	
}

.section-phone-content {
    width: 300px;
    position: absolute;
    top: 213px;
    left: 96px;
}

.section-phone-phone {
    position: absolute;
    top: 89px;
    left: 50%;
    margin-left: -150px;
}

.section-end-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: none;
    background: #2C2C37;
    padding: 100px 50px 0;
    font-size: 18px;
    height: 40%;
    text-align: center;
    color: #6B6B73;
}

.section-video {

}

.section-video video {
    margin: 5% 10%;
    width: 80%;
}

@media only screen and (max-width: 1080px) { 
    .section-phone-phone {
        left: 550px;            
        top: 54px;
    }    
}

@media only screen and (max-width: 650px) { 
    .section-phone-phone {
        display: none;
    }
}

@media only screen and (max-width: 600px) { 
    .section {
        font-size: 34px;
    }
    .section-content {  
        top: 45%;
        font-weight: 400;
    }
    .section-end-content {
        padding: 30px 30px 0; 
        height: 70%;
    
}
    .section-phone-content {
        width: auto;        
        position: absolute;
        left: 0;
        top: 35%;
        text-align: center;
        margin: 0 10%;
    }
}

@media only screen and (max-width: 400px) { 
    .section {
        font-size: 26px;
    }
    .section-content {  
        top: 45%;
    
        padding: 27px 5%;
	}
	.active-intro .section-content {
		top: 55%;
	}
}
